.heading {
    text-align: center;
    padding: 20px 0;
}

.counterArea {
    position: relative;
    z-index: 1; 
	background-image:
    url(../../images/counter-1-1600x600.jpg);
    background-size: cover;
    width: 101%;
    color: #fff; 

    &::after {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; 
        z-index: -1;
        background: rgba(0,0,0,.7);
    }
}

.clock {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 15px 0 30px 0;

    :first-child {
        padding-left: 0;
        border: none;
    }
}

.timeSec {
    text-align: center;
    padding: 0 16px;
    font-size: 16px;
    border-left: 1.5px solid gray;
    font-family: monospace, monospace;
}

.time {
    color: #fff;
    font: 600 22px monospace, monospace;
    animation: pulse 1s ease infinite;
}
	
// .remainingtime .timeSec {
//     position: relative;
//     display: inline-block;
//     margin: 0 20px;
//     margin-bottom: 30px; 
//     height: 120px;
//     width: 120px;
//     padding-top: 25px;
//     border-radius: 100px;
//     border: 1px solid #F14E95;
//     color: #fff;
//     background: rgba(241, 78, 149, 0.8);
  
//     animation: pulse 1s ease infinite;
// }

// .remainingtime .timeSec .title {
//     font-size: 3em;
//     line-height: 1;
//     display: block;
// }

@keyframes pulse {
	0% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
        border-radius: 50%;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
